BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "latch" IO_TYPE=LVCMOS33 CLAMP=OFF PULLMODE=NONE ;
IOBUF PORT "oe_b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "rgb1[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "rgb1[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "rgb1[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "rgb2[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "rgb2[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "rgb2[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sclk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "select[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "select[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "select[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "select[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
SYSCONFIG MCCLK_FREQ=133 ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
LOCATE COMP "rgb1[1]" SITE "85" ;
LOCATE COMP "rgb1[2]" SITE "56" ;
LOCATE COMP "rgb1[0]" SITE "86" ;
LOCATE COMP "rgb2[0]" SITE "84" ;
LOCATE COMP "rgb2[1]" SITE "83" ;
LOCATE COMP "rgb2[2]" SITE "59" ;
LOCATE COMP "select[0]" SITE "58" ;
LOCATE COMP "select[1]" SITE "60" ;
LOCATE COMP "select[2]" SITE "81" ;
LOCATE COMP "select[3]" SITE "82" ;
LOCATE COMP "sclk" SITE "78" ;
LOCATE COMP "latch" SITE "77" ;
LOCATE COMP "oe_b" SITE "76" ;
FREQUENCY NET "clk" 19.000000 MHz ;
USE PRIMARY NET "clk" ;
LOCATE COMP "rx" SITE "73" ;
IOBUF PORT "rx" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "led[0]" SITE "97" ;
LOCATE COMP "led[1]" SITE "98" ;
LOCATE COMP "led[2]" SITE "99" ;
LOCATE COMP "led[3]" SITE "100" ;
LOCATE COMP "led[4]" SITE "104" ;
LOCATE COMP "led[5]" SITE "105" ;
LOCATE COMP "led[6]" SITE "106" ;
LOCATE COMP "led[7]" SITE "107" ;
IOBUF PORT "led[0]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "led[1]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "led[2]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "led[3]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "led[4]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "led[5]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "led[6]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "led[7]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP ;
